<div class="image-box"  (click)="openSnackBar()">
  <img src="../../../../assets/iot/sensor.png" *ngIf="isActive; else disable" alt="sensor">
  <ng-template #disable >
    <img src="../../../../assets/iot/sensor_disable.png" alt="sensor">
  </ng-template>
  <ngx-from-to-animation [type]="sensorType" [@fromTo]="{value: animationState, params: { left: sensor.animLeft,top:sensor.animTop }}"  class="animation"></ngx-from-to-animation>
</div>

<ng-template #snackBar>
  <ngx-menu [menuItems]="snackBarMenuItems" ></ngx-menu>
   <span class="title">{{sensor.name}}</span>
    <div class="close" (click)="closeSnackbar()">
      <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="columns">
      <div class="column">
        <div class="cell">
          <label>tupleType </label>
<!--          <span>{{sensor.tupleType}}</span>-->
        </div>
        <div class="cell">
          <label>frequency</label>
          <span>{{sensor.frequency}}</span>
        </div>
      </div>
      <div class="column">
        <div class="cell">
          <label>delay</label>
<!--          <span>{{sensor.delay}}</span>-->
        </div>
      </div>
    </div>
</ng-template>

