.width-100 {
  width: 100%;
}

.button-container {
  width: 100%;
  padding: 10px;
}

.form-container {
  width: 100%;
  padding: 20px;
}

.header-container {
  background-color: rgb(93, 60, 178);
  min-height: 60px;
  width: 100%;
}
