<nb-card>
  <nb-card-header>New Cluster</nb-card-header>
  <nb-card-body>
    <form class="form-inline" [formGroup]="form">
      <input type="text" nbInput fullWidth formControlName="name" placeholder="name">
      <input type="number" nbInput fullWidth formControlName="totalSpace"  placeholder="total space">
      <input type="number" nbInput fullWidth formControlName="emptySpace"  placeholder="empty space">
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="form-buttons">
      <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
      <button nbButton status="success" (click)="submit()">Submit</button>
    </div>
  </nb-card-footer>
</nb-card>
