<div class="buttons-container" >
  <button
    (click)="creatNewSensor()"
    nbButton
    status="primary"
  >
    Add Sensor
  </button>
  <button
    (click)="creatNewBroker()"
    nbButton
    status="primary"
  >
   Add Broker
  </button>
  <button
    (click)="creatNewGateway()"
    nbButton
    status="primary"
  >
    Add Gateway
  </button>
  <button
    (click)="creatNewFogDevice()"
    nbButton
    status="primary"
  >
    Add FogDevice
  </button>
  <button
    (click)="creatNewServer()"
    nbButton
    status="primary"
  >
    Add Server
  </button>
  <button
    (click)="creatNewCluster()"
    nbButton
    status="primary"
  >
    Add Cluster
  </button>
</div>
