<ng-container [ngSwitch]="type">
  <img src="../../../../assets/iot/smoke.png" *ngSwitchCase="sensorTypes.SMOKE">
  <img src="../../../../assets/iot/HUMIDITY.png" *ngSwitchCase="sensorTypes.HUMIDITY">
  <img src="../../../../assets/iot/light.png" *ngSwitchCase="sensorTypes.LIGHT">
  <img src="../../../../assets/iot/accelerometer.png" *ngSwitchCase="sensorTypes.ACCELEROMETER">
  <img src="../../../../assets/iot/proximity.png" *ngSwitchCase="sensorTypes.PROXIMITY">
  <img src="../../../../assets/iot/GRAVITY.png" *ngSwitchCase="sensorTypes.GRAVITY">
  <img src="../../../../assets/iot/gas.png" *ngSwitchCase="sensorTypes.GAS">
  <img src="../../../../assets/iot/PRESSURE.png" *ngSwitchCase="sensorTypes.PRESSURE">
  <img src="../../../../assets/iot/gyroscope.png" *ngSwitchCase="sensorTypes.GYROSCOPE">
  <img src="../../../../assets/iot/magnetometer.png" *ngSwitchCase="sensorTypes.MAGNETOMETER">
  <img src="../../../../assets/iot/vibration.png" *ngSwitchCase="sensorTypes.VIBRATION">
  <img src="../../../../assets/iot/sound.png" *ngSwitchCase="sensorTypes.SOUND">
  <img src="../../../../assets/iot/temperature.png" *ngSwitchCase="sensorTypes.TEMPERATURE">
</ng-container>

